* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .vid-container video {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

.app .time-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.app .time-select button {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background: none;
  border: 2px solid white;
  cursor: pointer;
}

.app .time-select button:hover {
  color: black;
  background: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.app .sound-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.app .sound-picker button {
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background: none;
  border: 2px solid white;
  cursor: pointer;
}

.app .sound-picker button:hover {
  background: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.app .player-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.app .player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.app .player-container .time-display {
  position: absolute;
  bottom: 10%;
  color: white;
  font-size: 50px;
}

@media only screen and (max-width: 768px) {
  .app {
    display: list-item;
  }
  .app .time-select {
    height: 20%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .app .sound-picker {
    height: 20%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .app .player-container {
    height: 55%;
  }
}
/*# sourceMappingURL=style.css.map */